include *.txt
include *.md
include *.pkl
recursive-include ./model/*

include model/datasets/train.csv
include model/datasets/test.csv
include model/trained_models/*.pkl
include model/VERSION
include model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]